.MessageDialog{
    //width:420px;

    .modal-content {
        padding-left: 8px;
        padding-right: 8px;
        width:451px;
        .modal-header {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 21px;
            padding-bottom: 30px;
            height:60px;

            img{
                position:absolute;
                height: 24px;
                top:16px;
                left:21px;
            }
            img.noWarning{
                top:20px;
                }
            

            span {
                position:absolute;
                font-size: 22px;
                font-family:HPEMetricSemibold;
                top:21px;
                left:57px;   
                line-height: 24px;
            }
            .close{
                span{
                    position:absolute;
                    top:15px;
                    left:400px;
                    font-size: 30px;
                    line-height: 20px;
                    font-family: 'Glyphicons Halflings';
                    font-weight: 200;
                }
                
            }
        }   
    }

    .modal-body{
        padding-top:20px;
    }
    
    .modal-body>span{
        font-size: 16px;
        font-family: HPEMetricRegular;
        margin-left: 5px;
        margin-right: 31px;
        display: inline-block;
    }

    .modal-footer{
        border-style:none;
        margin-top:30px;
        margin-left: 31px;
        height:70px;
    }


}